<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DOPE13STORE</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
</head>

<body>

    <div class="page-dashboard">
        <div class="d-flex" id="wrapper" data-aos="fade-right">
            <!-- sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <div class="sidebar-heading text-center">
                    <img src="/images/logo-dashboard.svg" class="my-4">
                </div>
                <div class="list-group list-group-flush">
                    <a href="/dashboard.html" class="list-group-item">Dashboard</a>
                    <a href="/dashboard-produk.html" class="list-group-item">Produk</a>
                    <a href="/dashboard-transaksi.html" class="list-group-item active">Transaksi</a>
                    <a href="/dashboard-pengaturan.html" class="list-group-item">Pengaturan</a>
                    <a href="/dashboard-akun.html" class="list-group-item">Akun</a>
                    <a href="/index.html" class="list-group-item">Keluar</a>
                </div>
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top" data-aos="fade-down">
                    <div class="container-fluid">
                        <button class="btn btn-secondary d-md-none mr-auto mr-2" id="menu-toggle">&laquo; Menu</button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSuppoertContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSuppoertContent">
                            <!-- Desktop -->
                            <ul class="navbar-nav d-none d-lg-flex ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" id="navbarDropdown" role="button"
                                        data-toggle="dropdown">
                                        <img src="/images/user_desktop.png" alt="user"
                                            class="rounded-circle mr-2 profile-picture">Hi, Eko
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="/dashboard.html" class="dropdown-item">Dashboard</a>
                                        <a href="/pengaturan.html" class="dropdown-item">Pengaturan</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/" class="dropdown-item">Keluar</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block mt-2">
                                        <img src="/images/cart-isi.svg" alt="cart-isi">
                                        <div class="card-badge">8</div>
                                    </a>
                                </li>
                            </ul>
                            <!-- Mobile -->
                            <ul class="navbar-nav d-block d-lg-none">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Hi, Eko
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block">
                                        Keranjang
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Section Content -->
                <div class="section-content section-dashboard-home" data-aos="fade-up">
                    <div class="container-fluid">
                        <div class="dashboard-heading">
                            <h2 class="dashboard-title">#TRANSAKSIDOPE13</h2>
                            <p class="dashboard-subtitle">
                                Transaksi / Detail
                            </p>
                        </div>
                        <div class="dashboard-content" id="transaksiDetail">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <img src="/images/transaksi1.png" class="w-100 mb-3">
                                                </div>
                                                <div class="col-12 col-md-8">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Nama Pembeli</div>
                                                            <div class="produk-subtitle">Nugroho</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Nama Produk</div>
                                                            <div class="produk-subtitle">Nike Ari Jordan</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Tanggal</div>
                                                            <div class="produk-subtitle">12 Januari, 2021</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Status Transaksi</div>
                                                            <div class="produk-subtitle text-danger">Pending</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Harga</div>
                                                            <div class="produk-subtitle">Rp. 200.000</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">No WhatsApp</div>
                                                            <div class="produk-subtitle">0812345678</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mt-4">
                                                    <h5>Alamat Pengiriman</h5>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Alamat</div>
                                                            <div class="produk-subtitle">Jl. Koran</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Detail Alamat</div>
                                                            <div class="produk-subtitle">Rumah biru utara jalan</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Provinsi</div>
                                                            <div class="produk-subtitle">Yogyakarta</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Kota</div>
                                                            <div class="produk-subtitle">Sleman</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Kode Pos</div>
                                                            <div class="produk-subtitle">55515</div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="produk-title">Negara</div>
                                                            <div class="produk-subtitle">Indonesia</div>
                                                        </div>
                                                        <div class="col-12 col-md-3">
                                                            <div class="produk-title">Status</div>
                                                            <select name="status" id="status" class="form-control"
                                                                v-model="status">
                                                                <option value="BELUM TERBAYAR">Belum Terbayar</option>
                                                                <option value="PENDING">Pending</option>
                                                                <option value="DIKIRIM">Dikirim</option>
                                                                <option value="SUKSES">Sukses</option>
                                                            </select>
                                                        </div>
                                                        <template v-if="status == 'DIKIRIM'">
                                                            <div class="col-md-3">
                                                                <div class="produk-title">Masukkan Nomor Resi</div>
                                                                <input type="text" class="form-control" name="resi"
                                                                    v-model="resi">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="produk-title">&nbsp</div>
                                                                <button type="submit"
                                                                    class="btn btn-success btn-block">
                                                                    Update Resi
                                                                </button>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col-12 text-right">
                                                    <button type="submit"
                                                        class="btn btn-success btn-lg mt-4">Simpan</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        })
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
        var transaksiDetail = new Vue({
            el: "#transaksiDetail",
            data: {
                status: "DIKIRIM",
                resi: "JNE2083914902102",
            },
        });
    </script>
</body>

</html>