.page-auth {
    .row-login {
        min-height: 70vh;
    }

    .form-login {
        margin-left: 10px;
    }

    .section-store-auth {
        h2 {
            font-weight: 200;
            font-size: 28px;
            margin-top: 0;
            color: #0c0d36;
        }

        .form-control {
            border-radius: 8px;
            background: #f3f3f3;
        }

        .btn-signup {
            @include button-variant(#c8c8c8, transparent);
            color: #ffffff;
        }
    }
}